body {
    margin: 5% 5% 5% 5%;
    font: 14pt Monaco;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
}

div.title {
    margin-bottom: 20px;
}

.title a {
    font: bold 30pt Monaco;
    color: black;
    padding: 10px;
}

.title a:hover {
    color: black;
}

td.label {
    font-weight: bold;
    padding-right: 20px;
}

#footer {
    vertical-align: bottom;
    text-align: left;
}
