body {
    margin: 2% 10% 5% 10%;
    font: 14pt Monaco;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
}

a.title {
    color: black;
}

a.title:hover {
    color: black;
    text-decoration: none;
}
