{% extends "site.html" %}

{% block content %}

<div about="http://purl.org/NET/mediatypes" typeof="void:DataSet">
<p>
This <a rel="foaf:homepage" href="http://{{ host }}">website</a> 
mints <a href="http://www.w3.org/DesignIssues/LinkedData.html">Linked Data</a> 
URIs for <a rel="dct:source" href="http://www.iana.org/assignments/media-types/">MIME Media Types</a> 
that are registered with the 
<a rel="dct:creator" href="http://www.iana.org/">Internet Assigned Numbers
    Authority</a>. 
A URI for a <span about="mediatypes:MediaType" typeof="rdfs:Class" property="rdfs:label">Media Type</span> come in handy when using vocabulary like <a
    href="http://dublincore.org/documents/dcmi-terms/#terms-hasFormat">dcterms:hasFormat</a>:
</p>

<p style="text-align: center;">
<img alt="example graph" src="/static/graph.png" />
</p>

<p>
The data presented here is also available as a single rdf/xml 
<a rel="void:dataDump" href="/dump.rdf">file</a>, and is routinely scraped from IANA using code in 
the <a href="http://code.google.com/p/mediatypes" typeof="doap:Project">mediatypes</a> Google Code
project. This site itself is running in the cloud on 
<a href="http://code.google.com/p/googleappengine/">Google AppEngine</a>. 
If at any time IANA provides these URIs themselves the PURLs can be 
updated appropriately.
</p>
</div>

{% endblock %}
