{% extends "site.html" %}

{% block content %}
<table about="{{ mt.uri }}" typeof="mediatypes:MediaType">
    <tr>
        <td class="label">Name:</td>
        <td property="rdfs:label">{{ mt.name }}</td>
    </tr>
    <tr>
        <td class="label">URI:</td>
        <td><a href="{{ mt.uri }}">{{ mt.uri }}</a></td>
    </tr>

    {% if mt.obsolete %}
    <tr>
        <td class="label">Status:</td>
        <td>obsolete</td>
    </tr>
    {% endif %}

    {% if mt.rfc_url %}
    <tr>
        <td class="label">See Also:</td>
        <td><a rel="rdfs:seeAlso" href="{{ mt.rfc_url }}">IETF RFC {{ mt.rfc }}</a></td>
    </tr>
    {% endif %}

    {% if mt.application_url %}
    <tr>
        <td class="label">See Also:</td>
        <td><a rel="rdfs:seeAlso" href="{{ mt.application_url }}">IANA application</a></td>
    </tr>
    {% endif %}

    <tr>
        <td class="label">Harvested:</td>
        <td>{{ mt.created }}</td>
    </tr>

</table>

{% endblock %}
