<?xml version="1.0"?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"
      xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
      xmlns:mediatypes="http://purl.org/NET/mediatypes#">
      <head>
        <title>media-types - {{ title }}</title>
        <link rel="stylesheet" href="/static/style.css" type="text/css"></link>
    </head>

    <body>
        <div class="title">
            <a href="/">media-types</a>
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <div id="footer">
            <p>
            <img alt="rdfa" src="/static/rdfa.png" />
            <a href="http://code.google.com/p/mediatypes/"><img alt="mediatypes Google Code project" src="/static/google_code.png" border="0"></a>
            </p>
        </div>
    </body>
</html>
